@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  background-color: #161818;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sticky-container {
  height: 5rem;
  z-index: 100;
}
.bggrad1 {
  position: absolute;
  width: 105px;
  height: 105px;
  border-radius: 100%;
  top: 28.8%;
  left: 30.5%;
  background: linear-gradient(180deg, #b7b9b593, #4f4b4bdd, #161616c2);
  box-shadow: 0px 6px 3.9px 0px rgba(255, 255, 255, 0.53) inset;
  opacity: 0.9;
  cursor: pointer;
}

@media (max-width: 670px) {
  .bggrad1 {
    height: 85px;
    width: 85px;
    top: 32.8%;
    left: 25.21%;
  }
}

@media (max-width: 410px) {
  .bggrad1 {
    top: -10%;
  }
}
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 2vh;
  /* opacity: 100; */
  cursor: default;
  background: transparent;
  z-index: 100;
}
#linker {
  z-index: 100;
}
#links {
  z-index: 100;
}
#link1 {
  z-index: 100;
}
#link2 {
  z-index: 100;
}
#link3 {
  z-index: 100;
}
#greet {
  z-index: 100;
}
#downloadResume {
  z-index: 100;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vh;
  width: max-content;
  /* background-color: #101415; */
  /* padding: 0 1rem; */
  margin-top: 2vh;
  border: solid 2px rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 3vh;
  /* opacity: 0.8; */
  background: transparent;
  transform: scale(0.7);
  cursor: default;
  z-index: 100;
}
label {
  background: transparent;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: hsl(0 0% 100% / 0.5);
  /* background: hsl(195, 4%, 20% / 0); */
  padding: 0.8rem 2rem;
  border-radius: 100vh;
  /* width: 130px; */
  transition: ease linear 2s;
  /* opacity: 100; */
  cursor: pointer;
  opacity: 1;
}
label::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 50%;
  opacity: 200;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100vh;
  opacity: 1;
  background: hsl(0 0% 100%);
  box-shadow: 0 0 1rem 1px white, 0 4px 1rem 1px white;
  scale: 0 1;
  transition: ease-in-out linear 0.5s;
  backdrop-filter: blur(10px);
}
input:checked + label::before {
  opacity: 1;
  scale: 1 1;
  transition: ease-in-out linear 0.5s;
}
input:checked + label {
  background: hsl(195 4% 20% / 1);
  color: hsl(0 0% 100%);
}

#tabsHolder {
  /* width: fit-content; */
  background: hsl(210, 9%, 0.6);
  /* background: transparent; */
  backdrop-filter: blur(11px);
  opacity: 1;
  /* border: solid 0.2px rgba(255, 255, 255, .5); */
  padding: 0.8rem 1.2rem;
  border-radius: 120vh;
  display: flex;
  gap: 1.5rem;
  scale: 1;
  cursor: default;
  z-index: 100;
}

input {
  display: none;
  cursor: pointer;
  opacity: 1;
  backdrop-filter: blur(10px);
}

label:nth-of-type(1)::before {
  transform-origin: right;
}
label:nth-of-type(2)::before {
  transform-origin: left;
}
