@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  background-color: #161818;
    
}
.sticky-container {
  height: 5rem;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 1vh;
  /* opacity: 100; */
  cursor: default;
  background: transparent;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vh;
  width: max-content;
  /* background-color: #101415; */
  /* padding: 0 1rem; */
  margin-top: 2vh;
  /* border: solid #101415; */
  position: sticky;
  top: 3vh;
  /* opacity: 0.8; */
  background: transparent;
  transform: scale(0.7);
  cursor: default;
  z-index: 100;
}
label {
  background: transparent;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: hsl(0 0% 100% / 0.5);
  background: hsl(195, 4%, 20% / 0);
  padding: 0.8rem 2rem;
  border-radius: 100vh;
  /* width: 130px; */
  transition: ease linear 2s;
  /* opacity: 100; */
  opacity: 1;
}
label::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 50%;
  opacity: 200;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100vh;
opacity: 1;
  background: hsl(0 0% 100%);
  box-shadow: 0 0 1rem 1px white, 0 4px 1rem 1px white;
  scale: 0 1;
  transition: ease-in-out linear 0.5s;
  backdrop-filter: blur(10px);
}
input:checked + label::before {
  opacity: 1;
  scale: 1 1;
  transition: ease-in-out linear 0.5s;
}
input:checked + label {
  background: hsl(195 4% 20% / 1);
  color: hsl(0 0% 100%);
}

#tabsHolder {
  /* width: fit-content; */
  background: hsl(210, 9%, 0.6);
  /* background: transparent; */
  backdrop-filter: blur(11px);
  opacity: 1;
  border: solid 0.2px rgba(255, 255, 255, .5);
  padding: 0.8rem 1.2rem;
  border-radius: 120vh;
  display: flex;
  gap: 1.5rem;
  scale: 1;
  cursor: default;
  z-index: 100;
  
}

input {
  display: none;
  cursor: pointer;
  opacity: 1;backdrop-filter: blur(10px);
}

label:nth-of-type(1)::before {
  transform-origin: right;
}
label:nth-of-type(2)::before {
  transform-origin: left;
}

#cards:before {
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: white;
  z-index: -1;
}
#cards:after {
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: white;
  z-index: -2;
  filter: blur(40px);
}

#cards:before,
#cards:after {
  background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}
